<!DOCTYPE html>
<html>
	<header>
		<title>index</title>
		<script src="js/angular.js"></script>
		<script src="js/index.js"></script>
	</header>
	<body ng-app="test">
		<div ng-controller="InvoiceController">
			<b>Invoice:</b>
			<br/>
			<table>
				<tr>
					<td>Quantity</td>
					<td>Cost</td>
				</tr>
				<tr>
					<td><input type="integer" min="0" ng-model="qty" required></td>
					<td><input type="number" ng-model="cost" required></td>
					<hr>
					<b>Total:</b>{{qty*cost|currency}}
				</tr>
			</table>
			<span ng-bind="exp"></span>
			<span class="ng-bind: exp;"></span>
			<ng-bind></ng-bind>
		</div>
	</body>
</html>